<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- embed meta tage -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ self.title() }}"/>
    <meta property="og:description"
          content="{% block tagline %}{% endblock %}"/>
    <meta property="og:url" content="https://{{ request.host }}"/>
    <meta property="og:image" content="{{ url_for('static', filename='/img/dragonband.png', subdomain='mulch') }}"/>
    <meta property="og:site_name" content="Round Rock Dragon Band"/>
    <meta name="theme-color" content="#800000">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://mulch.j1442.co/static/styles/rrhs/main.css">
    <!-- get those nice fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap" rel="stylesheet">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Page-specific imports -->
    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %} | Round Rock Dragon Band</title>
</head>
<body>
<style>
    h1, h2, h3, h4, h5, h6, .nav-link, .navbar-brand, .dropdown-item {
        font-family: 'Roboto Slab', serif;
    }

    body {
        font-family: 'Open Sans', sans-serif;
    }

    a {
        color: #800000;
    }

    a:hover {
        color: #4a0000;
        text-decoration: none;
    }

</style>
{% include "locals/rrhs/nav.html" %}

{% block jumbotron %}
    <div class="jumbotron d-flex align-items-center">
        <h1 class="display-4">{% block jumbotron_title %}{% endblock %}</h1>
        <p class="lead">{% block jumbotron_subtitle %}{% endblock %}</p>
    </div>

    <style>
        .jumbotron {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("{{ heads.get(request.path[1:]) or heads['home'] }}") center;
            background-size: cover;
            color: #efefef;
            border-radius: 0;
            min-height: 50%;
            min-height: 50vh;
        }

        body {
            background-color: #dfdfdf;
        }
    </style>
{% endblock %}
<div class="container">

    {% block content %}{% endblock %}
    <hr/>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2019 Round Rock Dragon Band<br>
            This site is maintained by the Round Rock HS Band and is not a part of Round Rock High School or the Round
            Rock Independent School District. Neither Round Rock High School nor Round Rock ISD is responsible for the
            content of this website or the content of external links on this website.
        </div>
    </footer>

</div>


</body>
</html>