{% extends 'locals/rrhs/base.html' %}
{% block title %}Faculty{% endblock %}
{% block jumbotron_title %}Faculty{% endblock %}
{% block content %}
    <h2>Directors</h2>
    <h3>Head Band Director <a href="mailto:davidw_mobley@roundrockisd.org">David Mobley</a></h3>
    <p>
        An Austin native, David Mobley is a graduate of Leander High School where he was a student of Dennis Hopkins and
        studied trombone with Russell Brown. While attending the University of Texas, he was a member of the Longhorn
        Band, Symphony Orchestra, Wind Ensemble and the Trombone Choir and was a student of Donald Knaub. During his
        time at UT, Mr. Mobley was a member of the Phantom Regiment Drum and Bugle Corps from Rockford, Illinois and was
        also later a staff member of the same corps. After graduating from UT he taught in Houston, Texas and
        Indianapolis, Indiana, where he was a successful assistant band director and winter guard director. When not
        teaching, Mr. Mobley enjoys spending time with his beautiful wife, 6 year old son and his 4 year old and 2 year
        old daughters. He is active in his church and enjoys reading, running, and bicycling. This is his 13th year at
        RRHS and his 19th year of teaching overall.
    </p>

    <h3>Associate Band Director <a href="mailto:steven_roeder@roundrockisd.org">Steve Roeder</a></h3>
    <p>
        Steve Roeder received his Bachelor of Music Education from Texas State University. While at the University, Mr.
        Roeder was principle percussionist of the Wind Ensemble, section leader of the drumline, member of the
        percussion ensemble and steel band. In addition, he was the percussion instructor at Bowie High School as well
        as a percussion clinician for various high schools across the state. Upon graduation, Mr. Roeder taught at
        Copperas Cove High School. Mr. Roeder is a member of TMEA, TBA and PAS. This is his 24th year of teaching, and
        his 18th year at Round Rock High School. He supervises the percussion department at RRHS including "Rock Drums",
        the award-winning drumline, all ensembles and solos, and the Chisholm Trail Middle School percussion
        program.
    </p>

    <h3>Assistant Band Director <a href="mailto:brittany_graham@roundrockisd.org">Brittany Graham</a></h3>
    <p>
        Brittany Graham comes to Round Rock High School as she begins her fifth year in Music Education. After
        graduating from Baylor University in 2011, she began her career in San Antonio ISD and taught middle school
        there for one year, and then went to Medina Valley ISD and taught both middle school and high school there for
        three years. During her time at Medina Valley she conducted both middle school and high school non-varsity and
        varsity concert bands, and was visual caption head and program coordinator for the Medina Valley High School
        Marching Band and helped the band program earn three sweepstakes awards. At Medina Valley Mrs. Graham also had
        the chance to be the visual caption head and designer for the Medina Valley Winter Drumline who successfully
        competed in the TECA circuit. Along with her involvement in her own band programs, Mrs. Graham has seven years
        of experience in Drum Corps International as a member and instructor. Her drum corps experience includes
        performing with Revolution from 2005 – 2006, Blue Knights from 2008 – 2009, visual staff with the Boston
        Crusaders in 2014, and visual staff with the Blue Knights from 2015-present. When not teaching, Mrs Graham
        spends time running, cooking, and traveling with her husband, Clint, who is a graduate of Round Rock ISD.
    </p>

    <h3>Assistant Band Director <a href="mailto:cathy_benford@roundrockisd.org">Cathy Benford</a></h3>
    <p>
        Miss Cathy Benford is the Assistant Band Director at Round Rock High School. She earned her Bachelor of Science
        in Music Education from Texas State University (then Southwest Texas State University) and her Masters of Music
        in Instrumental Conducting from Sam Houston State University. While attending Texas State University, she
        performed with the Wind Ensemble, Symphonic Band, Jazz Ensembles, Athletics Bands and was also a member of the
        Panorama Steel Drum Band. At Sam Houston State University, she conducted the Wind Ensemble, Symphonic Band, and
        Jazz Lab Band and was the Director of the Concert Band, as well as taught several Music Education courses.
    </p>
    <p>
        Prior to Round Rock High School, she was the Director of Instrumental Music at Sci-Tech Preparatory School where
        she was named Champion For Children for the year in her district, the Director of Bands at Tascosa High School
        in Amarillo, TX; Assistant Band Director and Director of Jazz Studies at Stony Point High school and was the
        Music Specialist at Robertson Elementary, both in Round Rock ISD.
    </p>
    <p>
        Miss Benford has served on the Board of Directors and Administrative Staff of Revolution Drum and Bugle Corps
        and was a Founding Member and Executive Director for Austin Stars Perfoming Arts Association. She has served as
        a member of the Abelton Edu-Team as well as an M-Powered Educator for M-Audio. She is a Founding Director and
        the webmaster for the Texas Jazz Educator’s Association. She has served as the Texas Music Educators Association
        Region 18 Secretary and the Texas Music Educators Association Region 26 Jazz Coordinator.
    </p>
    <p>
        Professional affiliations include the Texas Music Educators Association, Texas Bandmasters Association, Texas
        Jazz Educators Association, Jazz Education Network, College Band Director’s National Association, World
        Association for Symphonic Bands and Ensembles, College Music Society, Marquis Who’s Who of American Women, Sigma
        Alpha Iota International Music Fraternity and Tau Beta Sigma Honorary Music Fraternity.
    </p>

    <h3>Color Guard Director <a href="nicole_younger@roundrockisd.org">Nicole Younger</a></h3>
    <p>
        Ms. Nicole Younger is in her 3rd year of being a "Texan". A Virginia native, she has worked as a clinician,
        designer, technician, and visual instructor for scholastic and independent guards and marching bands throughout
        the east coast and midwest. Nicole started her teaching career working for Mid Atlantic Camps (Virginia) under
        the guidance of Tracey Hedrick. During Nicole's time in Texas, she has had the pleasure of working with Identity
        Winterguard, Spirit Winterguard (University of Houston), ATX Winterguard, Monarch Independent World Percussion,
        Genesis Drum & Bugle Corps and high schools in Houston, San Antonio and Austin.
    </p>
    <p>
        Ms. Younger's color guard teaching career consists of O2 World (Ohio), O3 Winterguard (Ohio), Lexis Winter Guard
        (Lexington, Kentucky), Southwind Winterguard (Kentucky), Spectrum (New York), Rochester Crusaders DCA Drum &
        Bugle Corps (New York), Act One Winterguard (Virgnina), and high schools in Virginia, North Carolina, New York,
        Kentucky, Ohio, and Texas.
    </p>
    <p>
        She has performed with Revelation Winter guard (Virginia), O2 World (Ohio), Patriots World (New York), Patriots
        Drum & Bugle Corps (New York), Empire Statesmen Drum & Bugle Corps (New York), and Rochester Crusaders Drum &
        Bugle Corps (New York).
    </p>
    <p>
        Some of Ms. Younger’s favorite things are cooking and baking, watching independent films, listening to podcasts
        (NPR is her favorite), going to live music shows, going to the gym, visiting with family and friends, dancing,
        spinning and shopping!
    </p>

    <hr/>

    <h2>Private Lesson Staff</h2>
    <div class="row">
        <div class="col-md-6">

            <h3>Flute</h3>
            <h6>Kristine Reaume</h6>

            <h3>Clarinet</h3>
            <h6><a href="mailto:anna_carney@yahoo.com">Anna Carney</a></h6>
            <p>Anna Carney, has been the clarinet instructor at RRHS since 1997 and has placed many students in Region
                Bands and
                All-State Band. In addition to teaching at RRHS, Ms. Carney currently also teaches music at Southwestern
                University in Georgetown and Temple College. Previous teaching assignments have included being a middle
                school
                band director for 7 years, and a clarinet professor at the university level for 20 years.</p>
            <p>Ms. Carney received her Bachelors degree in Music Education from San Diego State University and her
                Masters in
                clarinet performance from SDSU. Her Doctoral work in clarinet was at Florida State University.</p>
            <p>As an active performer in Central Texas, Ms. Carney is a member of the Brazos Valley Symphony and a
                founder of
                the chamber ensembles Arte Musique and the Madera Trio. In addition to her Central Texas performing
                career, she
                continues to perform nationally and internationally when possible. Ms. Carney's major clarinet teachers
                were
                Kalman Bloch of the Los Angeles Philharmonic, James Kanter of the Pacific Symphony, and Frank Kowalsky
                at
                Florida State University.</p>

            <h3>Saxophone</h3>
            <h6><a href="mailto:kpgibbs@gmail.com">Kevin Gibbs</a></h6>
            <p>In 2005, Kevin earned his bachelor's degree in music performance with emphasis in classical saxophone
                from The
                University of Texas at Austin. There, he studied privately with world-renowned saxophonist and teacher,
                Harvey
                Pittel. While at UT, Kevin performed with the UT Symphony Band, the UT Wind Ensemble, Tex Sax, and the
                UT Jazz
                Ensemble. For the last 14 years, he has played in several rock, jazz, and funk influenced bands in
                Austin, such
                as Navin's Thermos, About:Blank, and Price Hill. Kevin has been teaching private lessons at schools in
                Austin,
                Leander, and Round Rock ISD since 2003. He lives with his wife, Sarah, and their dog, Mattie, in Round
                Rock.</p>

            <h6><a href="mailto:dan@mingofishtrap.com">Dan Bechdolt</a></h6>
            <p>Dan Bechdolt has been teaching private saxophone lessons at Round Rock H.S., Westwood H.S., McNeil H.S.
                and other
                RRISD area schools for more than 10 consecutive years. Mr. Bechdolt holds a Bachelor's Degree in Jazz
                Studies -
                Performance from the University of North Texas' world-renowned School of Music. He is also a founding
                member of
                Austin-based soul/funk group Mingo Fishtrap, which has been recording and touring nationally and
                internationally
                for more than 2 decades.</p>
        </div>
        <div class="col-md-6">
            <h3>Trumpet</h3>
            <h6><a href="mailto:michaelreytrumpet@gmail.com">Michael Rey</a></h6>
            <h6><a href="mailto:sarahbrown2811@gmail.com">Sarah Brown</a></h6>

            <h3>Horn</h3>
            <h6><a href="mailto:annemariecherry@icloud.com">Anne Marie Cherry</a></h6>

            <h3>Trombone</h3>
            <h6><a href="mailto:bgayman@austin.rr.com">Dr. Billy Gayman</a></h6>

            <h3>Euphonium</h3>
            <h6>Brett Blackstone</h6>

            <h3>Tuba</h3>
            <h6>Caitlyn Adams</h6>

            <h3>Percussion</h3>
            <h6><a href="mailto:sweetquinto@yahoo.com">Sean Harvey</a></h6>
            <h6>Corey Fica</h6>
            <h6>Brandon Mooney</h6>
        </div>
    </div>

{% endblock %}