{% extends 'locals/rrhs/base.html' %}
{% block title %}Fundraising{% endblock %}
{% block jumbotron_title %}Fundraising{% endblock %}
{% block content %}
    <h2>Why Fundraise?</h2>
    <p>
        Fundraising is a very important part of our band program–it enables us to purchase new instruments, build props,
        hire field staff, and repair/replace old and worn out equipment. To achieve our goals as a band program, we hold
        several fundraisers each year.
    </p>

    <h2>Band-A-Thon Pledge Drive</h2>
    <p>
        During each year's summer band session, students are encouraged to collect direct donations to the band program.
        Each donor at or above $75 in sponsorship will be listed on that year's band-a-thon shirts that are distributed
        to students.
    </p>

    <h2>Booster Car Raffle</h2>
    <p>
        Our <a href="//dragonbandboosters.com">booster organization</a> holds a car raffle each year, selling a limited
        number of tickets. For more information, please see <a href="https://dragonbandboosters.com/201920-car-raffle">their
        website.</a>
    </p>

    <h2>Mulch</h2>
    <p>
        The newest addition to our fundraising repertoire is mulch. In this fundraiser, students sell mulch door-to-door
        or online, then the band delivers all the mulch ordered directly to customers' houses.
    </p>
{% endblock %}