{% extends "locals/rrhs/base.html" %}
{% block title %}Home{% endblock %}
{% block jumbotron_title %}Round Rock Dragon Band{% endblock %}
{% block content %}
    <h1>Hello, world!</h1>
    <p>This is the official website for the Round Rock High School Dragon Band.</p>
    <div class="row">
        <div class="col-lg-6">
            <h2>Awards and Accolades</h2>

            <h4>2018 Midwest Band and Orchestra Clinic</h4>
            <p>Saxophone Choir directed by Senior Govind Joshi</p>
            <p>Symphony Orchestra directed by Sandra Vandertulip and David Mobley</p>

            <h4>2017 BOA Grand Nationals</h4>
            <p>89.625 12th Place Finalists</p>

            <h4>2017 Mark of Excellence</h4>
            <p>Wind Symphony, John Peterson – Citation Winner</p>
            <p>Wind Ensemble, David Mobley – Commended Winner</p>

            <h4>2016 Midwest Band and Orchestra Clinic</h4>
            <p>Trombone Choir directed by senior Zach Shoepe</p>

            <h4>2016 UIL State Marching Band Contest</h4>
            <p>12th Place Finalists</p>

            <h4>2015 BOA Grand Nationals</h4>
            <p>93.0 7th Place Finalists</p>

            <h4>2015 Tournament of Roses</h4>
            <p>126th Annual Rose Parade presented by Honda</p>
            <iframe src="https://www.youtube.com/embed/TwmQI3yUBZE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            <h4>2015 WGI World Championships</h4>
            <p>82.45 13th Place Open Class Finals</p>

            <h4>2014 Sudler Shield Recipient</h4>
            <p>An International Award Recognizing High School, Youth and International Marching Bands of <strong>World
                Class Excellence</strong></p>

            <h4>2014 WGI World Championships</h4>
            <p>90.85, 5th Place Open Class Finals</p>

            <h4>2013 BOA Grand Nationals</h4>
            <p>93.95, 4th Place Finalists, Outstanding Music in Semifinals</p>

        </div>
        <div class="col-lg-6">
            <h2>Contact Us</h2>

            <address>
                <strong>Round Rock High School Band</strong>
                <br>
                201 Deep Wood Dr, Bldg 900
                <br>
                Round Rock, TX, 78681
            </address>

            <h4>Head Director</h4>
            <p><a href="mailto:davidw_mobley@roundrockisd.org">David Mobley</a>, 512.464.6028</p>
            <h4>Associate Director</h4>
            <p><a href="mailto:steven_roeder@roundrockisd.org">Steve Roeder</a>, 512.464.6027</p>
            <h4>Assistant Director</h4>
            <p><a href="mailto:brittany_graham@roundrockisd.org">Brittany Graham</a>, 512.464.6026</p>
            <h4>Assistant Director</h4>
            <p><a href="mailto:cathy_benford@roundrockisd.org">Cathy Benford</a>, 512.464.6171</p>
            <h4>Color Guard Director</h4>
            <p><a href="mailto:nicole_younger@roundrockisd.org">Nicole Younger</a></p>

            <h2>Volunteer</h2>
            <p>Please <a href="//staticboosters.com/volunteer">visit the booster website</a> to learn more about
                volunteer opportunities.</p>
        <h2>Upcoming Events</h2>
        <iframe width="100%" height="400" allowtransparency="true"
                src="https://calendar.google.com/calendar/b/1/embed?bgcolor=%23dfdfdf&amp;ctz=America%2FChicago&amp;src=cnJkcmFnb25iYW5kQGdtYWlsLmNvbQ&amp;color=%23D50000&amp;showTabs=1&amp;showDate=1&amp;showTitle=0&amp;showNav=1&amp;showPrint=1&amp;showCalendars=0"
                style="border-width:0" frameborder="0" scrolling="no"></iframe>

            <h2>Middle Schools</h2>
            <p><a href="https://sites.google.com/a/roundrockisd.org/ctms-band/home">Chisolm Trail Middle School</a></p>
            <p><a href="//walshband.com">Walsh Middle School</a></p>
            <p><a href="//cevmsband.org">Cedar Valley Middle School</a></p>

        </div>

    </div>
{% endblock %}