<script>
    $(function () {
        $('a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active');
            }
        });
    });
</script>
<style>
    .navbar {
        background-color: #800000;
        border-color: #030033;
    }

    .nav-link, .navbar-brand {
        color: #fff;
    }

    .nav-link:hover, .navbar-brand:hover {
        color: #b4b4b4
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #fff !important; /*Sets the text hover color on navbar*/
    }

    .dropdown-item:hover {
        background-color: transparent;
        color: #b4b4b4;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #fff;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .75rem 0;
        margin: .4rem 0 0;
        font-size: 1rem;
        /* color: #fff !important; */
        text-align: left;
        list-style: none;
        background-color: #800000;
        background-clip: padding-box;
        border: 0;
        border-radius: 0;
    }

    .navbar-custom .navbar-toggle {
        border-color: #fff;
    }

    .navbar-custom .navbar-toggle:hover,
    .navbar-custom .navbar-toggle:focus {
        background-color: #800000;
    }

    .navbar-custom .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

    {% if g.head_img %}
        .jumbotron {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("{{ url_for('static', filename='img/' + g.head_img) }}") center;
            background-size: cover;
            color: #efefef;
            border-radius: 0
        }
    {% endif %}
</style>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Dragon Band</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faculty">Faculty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fundraising">Fundraising</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Members
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="//calendar.google.com/calendar/embed?src=rrdragonband%40gmail.com&ctz=America%2FChicago&color=%23D50000">Calendar</a>
                    <a class="dropdown-item" href="//cuttime.net">Cut Time</a>
                    <a class="dropdown-item" href="//home.smartmusic.com">SmartMusic</a>
                </div>
            </li>
        </ul>
    </div>
</nav>