<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>404 | Not Found</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
<style>
        .vertical-center {
            min-height: 100%; /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
{% if 'reddit_username' in session %}
            min-height: calc(100% - 64px); /*  */
            min-height: calc(100vh - 64px); /* */
        {% endif %}
            display: flex;
            align-items: center;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
        }

        footer {
            padding-bottom: 0;
        }
</style>

</head>
<body>
{% if 'reddit_username' in session %}
{% include "nav.html" %}
{% endif %}

<div class="jumbotron vertical-center">
    <div class="container">
        <h1 class="display-4">Error 404: Not Found</h1>
        <p class="lead">This page does not exist.</p>
        <hr class="my-4">
        <p>{{ message }}</p>
        <a class="btn btn-outline-primary btn-lg" href="/" role="button">Return Home</a>
    </div>
</div>
</body>
</html>