<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dragon Band Mulch | Admin Panel</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light">
{% include 'nav.html' %}

<div class="jumbotron">
    <h1 class="display-4">Admin Panel</h1>
    <p class="lead"></p>
</div>
<script>
    $(document).ready(function () {
        $('#usernamepin').keyup(function () {
            if ($('#usernamepin').val() == "jackson1442") {
                $('#pinpin').removeAttr('maxlength');
            }
        });
    });
</script>
<script>
    var link = document.getElementById('confirmDelete');
    link.onclick = enableDel();

    function enableDel() {
        document.getElementById("delsubmit").disabled = false;
        document.getElementById("confirmDelete").remove();
    }

</script>
<div class="container">
    {% if created %}
        <div class="alert alert-success" role="alert">
            Successfully created <strong>{{ name }}</strong> with pin <strong>{{ pin }}</strong>
        </div>
    {% elif delete %}
        <div class="alert alert-info" role="alert">
            Successfully deleted <strong>{{ user }}</strong>.
        </div>

    {% elif user %}
        <div class="alert alert-info" role="alert">
            Successfully updated <strong>{{ user }}</strong>'s pin to be <strong>{{ pin }}</strong>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ name }}</strong> {{ error }}
        </div>
    {% endif %}
    <h1>
        View sales
    </h1>
    <form action="/admin?form=view" method="post" id="lookup-form" class="was-validated">
        <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" id="usernameview" name="usernameview" class="form-control" placeholder="jappleseed"
                   required>
        </div>
        <div class="form-group col-md-6">
            <button id="viewsales" class="btn btn-outline-info" type="submit">View Sales</button>
        </div>
    </form>
    <hr/>

    <h1>
        Edit user PINs
    </h1>

    <form action="/admin?form=update" method="post" id="lookup-form" class="was-validated">
        <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" id="usernamepin" name="usernamepin" class="form-control" placeholder="jappleseed"
                   required>
        </div>
        <div class="form-group col-md-6">
            <label for="pin">PIN</label>
            <input type="password" id="pinpin" class="form-control" name="pinpin" pattern="[0-9]{4:}" maxlength="4"
                   inputmode="tel" placeholder="••••" required>
        </div>
        <div class="form-group col-md-6">
            <button id="pinsubmit" class="btn btn-outline-primary" type="submit">Update PIN</button>
        </div>
    </form>
    <hr/>
    <h1>
        Create users
    </h1>
    <form action="/admin?form=create" method="post" id="lookup-form" class="was-validated">
        <div class="form-group col-md-6">
            <label for="username">Full Name</label>
            <input type="text" id="namecreate" name="namecreate" class="form-control" placeholder="John Appleseed"
                   required>
        </div>

        <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" id="usernamecreate" name="usernamecreate" class="form-control" placeholder="jappleseed"
                   required>
        </div>
        <div class="form-group col-md-6">
            <label for="pin">PIN</label>
            <input type="password" id="pincreate" class="form-control" name="pincreate" pattern="[0-9]{4}" maxlength="4"
                   inputmode="tel" placeholder="••••" required>
        </div>
        <div class="form-group col-md-6">
            <button class="btn btn-outline-success" type="submit">Create User</button>
        </div>
    </form>
    <hr/>
    <h1>
        Delete users
    </h1>
    <form action="/admin?form=delete" method="post" id="lookup-form" class="was-validated">
        <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" id="usernamedel" name="usernamedel" class="form-control" placeholder="jappleseed"
                   required>
            <small id="confirmdeletehelp" class="form-text text-muted"><a href="#delete-users" onclick="enableDel()"
                                                                          id="confirmDelete">confirm deletion</a>
            </small>
        </div>
        <div class="form-group col-md-6">
            <button id="delsubmit" class="btn btn-outline-danger" type="submit" disabled>Delete User</button>
        </div>
    </form>

</div>
<br/>
<br/>
<br/>
<br/>

</body>
</html>
