<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dragon Band Mulch | Buy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light">
{% include 'nav.html' %}

<div class="jumbotron">
    <h1 class="display-4">Thanks for choosing the Dragon Band!</h1>
    <p class="lead">Please enter your order details below.</p>
</div>
<div class="container">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <script>
        var link = document.getElementById('enableEdit');
        link.onclick = enableRef();

        function enableRef() {
            document.getElementById("ref").disabled = false;
            document.getElementById("enableEdit").remove();
        }
    </script>
    <form action="/charge" method="post" id="payment-form" class="was-validated">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" name="name" value="{{ session['name'] }}"
                   placeholder="John Appleseed" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="email">Email</label>
                <input id="email" class="form-control" type="email" name="email" value="{{ session['email'] }}"
                       placeholder="hello@{{ request.host }}" required>
                <div class="invalid-feedback">Please enter a valid email.</div>
            </div>
            <div class="form-group col-md-5">
                <label for="phone">Phone number</label>
                <input id="phone" class="form-control"
                       pattern="1?\W*([2-9][0-8][0-9])\W*([2-9][0-9]{2})\W*([0-9]{4})(\se?x?t?(\d*))?" type="tel"
                       name="phone" placeholder="(512) 867-5309" value="{{ session['phone'] }}" required>
                <div class="invalid-feedback">Please enter a valid phone number.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" name="address" value="{{ session['address'] }}"
                   placeholder="1234 Main St"
                   required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name="city" value="{{ session['city'] }}"
                       placeholder="Round Rock" required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">ZIP code</label>
                <input type="text" class="form-control" id="inputZip" name="zip" value="{{ session['zip'] }}"
                       placeholder="78681" pattern="[0-9]{5}" inputmode="tel" maxlength="5"
                       required>
                <div class="invalid-feedback">Please enter a valid ZIP code.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="email">Hardwood "Brown" Mulch</label>
                <input id="brown" class="form-control" type="number" name="brown" value="0" required>
                <small id="bagHelp" class="form-text text-muted">Each bag costs $5, weighs 40 lbs. and covers 2 cubic
                    feet.
                </small>
            </div>
            <div class="form-group col-md-4">
                <label for="email">Black Mulch</label>
                <input id="brown" class="form-control" type="number" name="black" value="0" required>
            </div>
            <div class="form-group col-md-4">
                <label for="ref">Referral code</label>
                <input id="ref" class="form-control" type="text" name="ref"
                       value="{% if referrer %}{{ referrer }}{% endif %}" {% if referrer %}disabled{% endif %}>
                <small id="bagHelp" class="form-text text-muted">Who to credit for this sale{% if referrer %};
                    prefillied based on the link you clicked.
                    <a href="#" id="enableEdit" onclick="enableRef(); return false">(edit)</a>{% endif %}</small>
            </div>
            <div class="form-group col-lg-12">
                <label for="name">Special instructions</label>
                <textarea id="instructions" class="form-control" type="textarea" name="instructions"
                          style="height: 100px">{{ session['instructions'] }}</textarea>
                <small id="bagHelp" class="form-text text-muted">
                    Include information including where bags should be placed and how to access your house.
                </small>
            </div>

            {% if referrer %}
                <input name="refHidden" type="hidden" value="{{ referrer }}">
            {% endif %}
        </div>
        <button type="submit" class="btn btn-outline-primary">Pay with Stripe</button>

    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
</body>
</html>
