<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dash.css') }}" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

</head>
<body class="bg-light">
{% include "nav.html" %}
<script>
    $(document).on('click', '.nav-link', function () {
        $(".nav-link").each(function () {
            $(this).removeClass('active');
            console.log(this);
        });
        $(this).addClass('active');
    });
</script>

<div class="container-fluid">
    <div class="row">
        <!-- SIDEBAR -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h3 class="display-4" style="font-size: 1.75rem">Admin Panel</h3>
                <ul class="nav flex-column" style="top:56px">
                    <li class="nav-item active">
                        <a class="nav-link active" href="#dashboard" id="dash-tab" data-toggle="tab" role="tab"
                           aria-controls="dashboard" aria-selected="true">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#orders" id="orders-tab" data-toggle="tab" role="tab"
                           aria-controls="orders" aria-selected="false">
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#products" id="products-tab" data-toggle="tab" role="tab"
                           aria-controls="products" aria-selected="false">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#customers" id="customers-tab" data-toggle="tab" role="tab"
                           aria-controls="customers" aria-selected="false">
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#license" id="license-tab" data-toggle="tab" role="tab"
                           aria-controls="license" aria-selected="false">
                            License
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <!-- MAIN CONTENT -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dash-tab">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dashboard</h1>
                    </div>
                    <div class="card-columns">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="border-bottom border-gray pb-2 mb-0">This week's sales</h4>
                                <div class="media pt-3">
                                    <canvas id="myChart" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Orders</h1>
                </div>
            </div>
            <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Products</h1>
                </div>
            </div>
            <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers-tab">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Customers</h1>
                </div>
            </div>
            <div class="tab-pane fade" id="license" role="tabpanel" aria-labelledby="license-tab">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">License</h1>
                </div>
            </div>


    </div>
    </main>
</div>
</div>
<script>
    /* globals Chart:false, feather:false */

    (function () {
        'use strict'

        // Graphs
        var ctx = document.getElementById('myChart')
        // eslint-disable-next-line no-unused-vars
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    'Sunday',
                    'Monday',
                    'Tuesday',
                    'Wednesday',
                    'Thursday',
                    'Friday',
                    'Saturday'
                ],
                datasets: [{
                    data: [
                        10,
                        37,
                        19,
                        103,
                        58,
                        62,
                        150
                    ],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        })
    }())
</script>
</body>
</html>