<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dragon Band Mulch | Edit Account</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light">
{% include 'nav.html' %}

<div class="jumbotron">
    <h1 class="display-4">Account</h1>
    <p class="lead"></p>
</div>
<div class="container">
    {% if update %}
        <div class="alert alert-success" role="alert">
            Successfully updated your pin to be <strong>{{ update }}</strong>
        </div>

    {% endif %}
<div class="bd-callout bd-callout-info" role="alert">
    Your unique referral link is <a href="https://mulch.j1442.co/?ref={{ session['authenticated_as'] }}" class="callout-link">https://{{ request.host }}/?ref={{ session['authenticated_as'] }}</a>. Anyone who clicks this and buys mulch will automatically credit their sale to you.
</div>
<h1>
Edit PIN
</h1>
    <form action="/edit" method="post" id="lookup-form" class="was-validated">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">PIN</label>
                <input type="password" id="pin" class="form-control" name="pin" pattern="[0-9]{4}" maxlength="4" inputmode="tel" placeholder="PIN" required>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Update PIN</button>
        </div>

    </form>
</div>
<br />
<br />
<br />
<br />

</body>
</html>
