<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dragon Band Mulch</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    </style>
</head>
<body class="bg-light">
{% include 'nav.html' %}

<div class="jumbotron">
    <h1 class="display-4">{{ g.head_text }}</h1>
    <p class="lead">Here, you can buy mulch or look up a previous order.</p>
</div>
<div class="container" role="main">
    {% if name %}
        <div class="alert alert-info" role="alert">
            Your purchases today will be credited to <strong>{{ name }}</strong>. Thanks for supporting the Dragon Band!
        </div>
    {% endif %}

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h4 class="border-bottom border-gray pb-2 mb-0">Buy Mulch</h4>
        <div class="media pt-3">
            <p class="media-body pb-3 mb-0 lh-125">
                Support the Dragon Band by buying our mulch!<br/>All mulch purchases include
                delivery.</p>
        </div>
        <a href="/buy" class="btn btn-outline-primary">Shop Now</a>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h4 class="border-bottom border-gray pb-2 mb-0">Order Lookup</h4>
        <div class="media pt-3">
            <p class="media-body pb-3 mb-0 lh-125">
                Get information on what you ordered and where it'll be delivered.
            </p>
        </div>
        <a href="/lookup" class="btn btn-outline-primary">Look up order</a>

    </div>

    {% if current_user.is_authenticated %}
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h4 class="border-bottom border-gray pb-2 mb-0">Manual Entry</h4>
            <div class="media pt-3">
                <p class="media-body pb-3 mb-0 lh-125">
                    Enter an order you received cash or check payment for.
                </p>
            </div>
            <a href="/manual-entry" class="btn btn-outline-primary">Manual Entry</a>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h4 class="border-bottom border-gray pb-2 mb-0">View Sales</h4>
            <div class="media pt-3">
                <p class="media-body pb-3 mb-0 lh-125">
                    View all sales that have been credited to your account so far.
                </p>
            </div>
            <a href="/sales" class="btn btn-outline-primary">View Sales</a>
        </div>

    {% endif %}
</div>
<br/>
<br/>
<br/>
<br/>
</body>
</html>
