<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dragon Band Mulch | Leaderboard</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light">
{% include 'nav.html' %}

<div class="jumbotron">
    <h1 class="display-4">Leaderboard</h1>
</div>
<style>
    .table a:hover {
        text-decoration: none;
    }
</style>
<div class="container">
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Orders</th>
            <th scope="col">Bags Sold</th>
            <th scope="col">Bags Verified</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr {% if nums[d[0]] == 1 %}class="table-warning"{% elif nums[d[0]] == 2 %}class="table-secondary"
                {% elif nums[d[0]] == 3 %}class="table-info"{% endif %}>
                <th scope="row">{{ nums[d[0]] }}</th>
                <td>{% if 'is_admin' in session %}<a href="/sales/{{ d[0] }}">{% endif %}{{ d[2] }}
                    {% if 'is_admin' in session %}</a>{% endif %}</td>
                <td>{{ d[0] }}</td>
                <td>{{ d[3] }}</td>
                <td>{{ d[4] }}</td>
                <td>{{ d[5] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if session['authenticated_as'] == 'jackson1442' %}
<form action="/leaderboard" method="post">
    <button type="submit" class="btn btn-outline-dark">Refresh all tallies</button>
</form>
{% endif %}
</div>
</body>
</html>
