<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dragon Band Mulch | Login</title>
    <link rel="stylesheet" href="//static.j1442.co/static/styles/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


</head>
<body class="text-center">
<script>
    $(document).ready(function() {
     $('#username').keyup(function() {
        if($('#username').val() == "jackson1442") {
           $('#pin').removeAttr('maxlength');
        }
     });
 });
</script>

<form class="form-signin" method="post" action="/auth">
    <a href="/">
        <img class="mb-4" src="//static.j1442.co/static/img/dragonband.png" alt="" width="100" height="72"></a>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <style>input[type=tel] {
        -webkit-text-security: disc;
    }</style>

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">User ID</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="User ID" required autofocus>
    <label for="pin" class="sr-only">PIN</label>
    <input type="password" id="pin" name="pin" pattern="[0-9]*" class="form-control" placeholder="PIN" maxlength="4" inputmode="tel"
           required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
<br />
<br />
<br />
<br />

</body>
</html>
