<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dragon Band Mulch | Look up orders</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light">
{% include 'nav.html' %}

<div class="jumbotron">
    <h1 class="display-4">Look up orders</h1>
    <p class="lead">Here, you can search for orders you've made in the past.</p>
</div>
<div class="container">
    {% if email %}
        <div class="alert alert-warning" role="alert">
            No orders found with the email <strong>{{ email }}</strong> and phone <strong>{{ phone }}</strong>
        </div>

    {% endif %}
    <form action="/lookup" method="post" id="lookup-form" class="was-validated">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="band@mulch.j1442.co"
                       required>
            </div>
            <div class="form-group col-md-6">
                <label for="phone">Phone number</label>
                <input type="tel" id="phone" class="form-control" name="phone" placeholder="(512) 867-5309"
                       pattern="1?\W*([2-9][0-8][0-9])\W*([2-9][0-9]{2})\W*([0-9]{4})(\se?x?t?(\d*))?" type="tel"
                       required>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>

    </form>
</div>
<br />
<br />
<br />
<br />

</body>
</html>
