<meta property="og:type" content="website">
<meta property="og:title" content="{{ g.nav_text }}"/>
<meta property="og:description"
      content="{{ g.tagline }}"/>
<meta property="og:url" content="https://{{ request.host }}"/>
<meta property="og:image" content="/static/img/dragonband.png"/>
<meta property="og:site_name" content="{{ g.name }}"/>
<meta name="theme-color" content="{{ g.color }}">


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="//static.j1442.co/static/styles/callouts.css">
<script src="//static.j1442.co/static/js/toasts.js"></script>
<script>
    $(function () {
        $('a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active');
            }
        });
    });
</script>
<style>
    .navbar {
        background-color: #800000;
        border-color: #030033;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #fff !important; /*Sets the text hover color on navbar*/
    }

    body {
        padding-top: 56px;
    }

    {% if g.head_img %}
        .jumbotron {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://static.j1442.co/static/img/rrhs_header.jpg") center;
            background-size: cover;
            color: #efefef;
            border-radius: 0
        }
    {% endif %}
</style>
<div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Dragon Band Mulch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNav">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/buy">Buy</a>
            <a class="nav-item nav-link" href="/lookup">Order Lookup</a>
            {% if 'authenticated_as' in session %}
                <a class="nav-item nav-link" href="/manual-entry">Manual Entry</a>
                <a class="nav-item nav-link" href="/sales">Sales</a>
                <a class="nav-item nav-link" href="/leaderboard">Leaderboard</a>
                {% if 'is_admin' in session %}
                    <a class="nav-item nav-link" href="/admin">Admin</a>
                {% endif %}
                <a class="nav-item nav-link" href="/logout">Log Out</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item nav-link">
                    </div>
                    <a class="nav-item nav-link" href="/edit">{{ session['full_name'] }}</a>
                </div>
            {% else %}
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item nav-link">
                    </div>
                    <a class="nav-item nav-link" href="/login">Log In</a>
                </div>

            {% endif %}
</div>
</div>
</div>
</nav>
