<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dragon Band Mulch | Update order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light">
{% include 'nav.html' %}

<div class="jumbotron">
    <h1 class="display-4">Edit order <code>{{ order[0] }}</code></h1>
    <p class="lead">Please enter new order details below.</p>
</div>
<div class="container">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <script>
        var link = document.getElementById('enableEdit');
        link.onclick = enableRef();

        function enableRef() {
            document.getElementById("ref").disabled = false;
            document.getElementById("enableEdit").remove();
        }
    </script>

    <form action="{{ request.url.replace('http', 'https') }}" method="post" id="payment-form" class="was-validated">
        <input type="hidden" name="orderid" value="{{ order[0] }}">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" name="name" value="{{ order[1] }}"
                   placeholder="John Appleseed" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="email">Email</label>
                <input id="email" class="form-control" type="email" name="email" value="{{ order[2] }}"
                       placeholder="band@j1442.co" required>
                <div class="invalid-feedback">Please enter a valid email.</div>
            </div>
            <div class="form-group col-md-5">
                <label for="phone">Phone number</label>
                <input id="phone" class="form-control"
                       pattern="1?\W*([2-9][0-8][0-9])\W*([2-9][0-9]{2})\W*([0-9]{4})(\se?x?t?(\d*))?" type="tel"
                       name="phone" placeholder="(512) 867-5309" value="{{ order[5] }}" required>
                <div class="invalid-feedback">Please enter a valid phone number.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" name="address" value="{{ order[3] }}"
                   placeholder="1234 Main St"
                   required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name="city"
                       value="value is not saved nor important"
                       placeholder="Round Rock" required disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">ZIP code</label>
                <input type="text" class="form-control" id="inputZip" name="zip" value="{{ order[4] }}"
                       placeholder="78681" pattern="[0-9]{5}" inputmode="tel" maxlength="5"
                       required>
                <div class="invalid-feedback">Please enter a valid ZIP code.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="email">Hardwood "Brown" Mulch</label>
                <input id="brown" class="form-control" type="number" name="brown" value="{{ order[6] }}" required>
                <small id="bagHelp" class="form-text text-muted">Each bag costs $5, weighs 40 lbs. and covers 2 cubic
                    feet.
                </small>
            </div>
            <div class="form-group col-md-4">
                <label for="email">Black Mulch</label>
                <input id="brown" class="form-control" type="number" name="black" value="{{ order[7] }}" required>
            </div>
            <h1 id="anchor" name="anchor"></h1>
            <div class="form-group col-md-4">
                <label for="ref">Referral code</label>
                <input id="ref" class="form-control" type="text" name="ref"
                       value="{{ order[8] }}">
                <small id="bagHelp" class="form-text text-muted">Who to credit for this sale.</small>
            </div>
            <div class="form-group col-lg-12">
                <label for="name">Special instructions</label>
                <textarea id="instructions" class="form-control" type="textarea" name="instructions"
                          style="height: 100px">{{ order[9] }}</textarea>
                <small id="bagHelp" class="form-text text-muted">
                    Include information including where bags should be placed and how to access your house.
                </small>
            </div>
            <div class="form-group col-md-6">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="paid" name="paid" value="True"
                           {% if order[10] == True %}checked{% endif %}>
                    <label class="custom-control-label" for="paid">Order is paid</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Update order</button>

    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
</body>
</html>