<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dragon Band Mulch | Look up order</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">
{% include 'nav.html' %}

<div class="jumbotron">
    <h1 class="display-4">Look up orders</h1>
    <p class="lead">Here, you can search for orders you've made in the past.</p>
</div>
<div class="container">
    <div class="card">
        <h5 class="card-header">Your Info</h5>
        <div class="card-body">
            <h5 class="card-title">{{ orders[0][1] }}</h5>
            <p class="card-text">
                <strong>Email: </strong>{{ orders[0][2] }}<br/>
                <strong>Phone: </strong>{{ phone }}<br/>
                <strong>Address: </strong>{{ orders[0][3] }}</p>
        </div>
    </div>
    <br/>
    {% for o in orders %}
        <div class="card">
            <h5 class="card-header">Order <code>{{ o[0] }}</code></h5>

            <div class="card-body">
                <p class="card-text">{{ o[6] }} bags brown mulch<br/>
                    {{ o[7] }} bags black mulch<br/>
                    {% if names[o[0]] %}<strong>Sold by: </strong>{{ names[o[0]] }}<br />{% endif %}
                    Price: <strong>${{ (o[6] + o[7])*5 }}.00</strong></p>
                {% if receipts[o[0]] %}<a href="{{ receipts[o[0]] }}" target="_blank" class="btn btn-primary">Receipt</a>{% endif %}
            </div>
        </div>
        <br/>
    {% endfor %}
</div>
</body>
</html>