<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dragon Band Mulch | Sales</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="bg-light">
{% include 'nav.html' %}
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    })
</script>
<div class="jumbotron">
    <h1 class="display-4">
        {% if not admin %}View your sales
        {% else %}View sales for {{ fullname }}{% endif %}
    </h1>
    <p class="lead">All the orders that have been placed with your referral code.</p>
</div>
<div class="container">
    {% if alert %}
        <div class="alert alert-success" role="alert">
            Successfully marked order <code>{{ request.form['id'] }}</code> as <strong>{{ alert }}</strong>.
        </div>
    {% endif %}
    <div class="card">
        <h5 class="card-header">{% if not admin %}Your{% else %}User{% endif %} Info</h5>
        <div class="card-body">
            <h5 class="card-title">
                {% if not admin %}{{ session['authenticated_as'] }}{% else %}{{ fullname }}{% endif %}</h5>
            <p class="card-text">
                {% if not err %}
                    <strong>Total orders: </strong>{{ count }}<br/>
                    <strong>Bags sold: </strong>{{ bags }}<br/>
                    <strong>Money collected for: </strong>{{ verified }} bags
                {% else %}
                    There are no sales associated with your account yet.
                {% endif %}
        </div>
    </div>
    {% for o in orders %}
        <div class="card">
            <div class="card-body">
                <a name="{{ o[0] }}"></a>
                <h4 class="border-bottom border-gray pb-2 mb-0">Order <code>{{ o[0] }}</code></h4>

                <div class="media pt-3">
                    <p class="media-body pb-3 mb-0 lh-125 card-text">
                        <strong>Sold to: </strong>{{ o[1] }}<br/>
                        <strong>Address: </strong>{{ o[3] }}<br/>
                        <strong>Email: </strong>{{ o[2] }}<br/>
                        <strong>Phone: </strong>{{ phones[o[0]] }}<br/>
                        {{ o[6] }} bags brown mulch<br/>
                        {{ o[7] }} bags black mulch<br/>
                        {% if o[9] %}
                            <strong>Instructions: </strong>{{ o[9] }}<br/>
                        {% endif %}
                        Price: <strong>${{ (o[6] + o[7])*5 }}.00</strong><br/>
                        <strong>Payment received: </strong>{% if o[10] == True %}
                        <span style="color:green"><i class="far fa-check-circle"></i> Yes</span>{% else %}
                        <span style="color: red"><i class="far fa-times-circle"></i> No</span>{% endif %}</p>
                </div>

                {% if admin %}
                    <form action="/api/payment_status" method="post" id="f{{ o[0] }}"
                          class="was-validated" onsubmit="return false;">
                        <input type="hidden" name="id" id="i{{ o[0] }}" value="{{ o[0] }}">
                        <input type="hidden" name="val" value="{{ o[10] }}">
                        {% if o[10] == False %}
                            <button class="btn btn-outline-primary" type="submit" id="s{{ o[0] }}">Mark paid
                            </button>
                        {% else %}
                            <button class="btn btn-outline-danger" type="submit" id="s{{ o[0] }}">Mark unpaid
                            </button>
                        {% endif %}
                        <a class="btn btn-outline-secondary" role="button" href="/order/{{ o[0] }}" type="submit">Edit
                            order
                        </a>
                    </form>
                    <script>
                        $(document).ready(function () {
                            $('#f{{ o[0] }}').on('submit', function (event) {
                                console.log('it works!');
                                $('#s{{ o[0] }}').prop('disabled', true);
                                $('#s{{ o[0] }}').html('<div class="spinner-grow spinner-grow-sm text-primary" role="status"></div> Loading...');
                                $.ajax({
                                    data: {
                                        id: '{{ o[0] }}',
                                        user: '{{ o[1] }}'
                                    },
                                    type: 'POST',
                                    url: '/api/payment_status'
                                })
                                    .done(function (data) {
                                        console.log(data);
                                        if (data.new_status) {
                                            $('#s{{ o[0] }}').html('Mark unpaid');
                                            $('#s{{ o[0] }}').removeClass('btn-outline-primary');
                                            $('#s{{ o[0] }}').addClass('btn-outline-danger');
                                            $.toast({
                                                title: 'Sales',
                                                content: 'Success! Order <code>{{ o[0] }}</code> has been marked paid.',
                                                type: 'success',
                                                pause_on_hover: true,
                                                delay: 5000
                                            });
                                        } else {
                                            $('#s{{ o[0] }}').html('Mark paid');
                                            $('#s{{ o[0] }}').removeClass('btn-outline-danger');
                                            $('#s{{ o[0] }}').addClass('btn-outline-primary');
                                            $.toast({
                                                title: 'Sales',
                                                content: 'Success! Order <code>{{ o[0] }}</code> has been marked unpaid.',
                                                type: 'success',
                                                pause_on_hover: true,
                                                delay: 5000
                                            });

                                        }
                                        $('#s{{ o[0] }}').prop('disabled', false);


                                    });
                                event.preventDefault();
                                return false;
                            });
                        });
                    </script>

                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>