.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background-color: white;
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout + .bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}

.bd-callout-success {
    border-left-color: #28a745;
}

.bd-callout-success h4 {
    color: #28a745;
}

.card {
    margin-bottom: 1.875rem;
    border: none;
    border-radius: .25rem;
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .07), 0 2px 9px 0 rgba(62, 57, 107, .06);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .07), 0 2px 9px 0 rgba(62, 57, 107, .06);
}

#toast-container {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1055;
    top: 64px;
}

#toast-wrapper {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 5px;
}

#toast-container > #toast-wrapper > .toast {
    min-width: 150px;
}

#toast-container > #toast-wrapper > .toast > .toast-header strong {
    padding-right: 20px;
}

.alert {
    border: none;
    border-radius: .25rem;
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .07), 0 2px 9px 0 rgba(62, 57, 107, .06);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .07), 0 2px 9px 0 rgba(62, 57, 107, .06);
}
